<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>!!EDIT TITLE!!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
    <link rel="stylesheet" href="{% static 'core/css/uikit-notifications/customized.css' %}" />
</head>
<body>
    <main class="uk-container uk-container-expand">
        {% block content %}{% endblock %}
    </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>{% endcomment %}
{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/components/notification.min.js"></script>{% endcomment %}
{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/components/sortable.min.js"></script>{% endcomment %}
{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/components/tooltip.min.js"></script>{% endcomment %}
{% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/components/upload.min.js"></script>{% endcomment %}
</html>